.aboutme {
  background-color: #100d19;
  padding-top: 70px;
  padding-bottom: 70px;

  /* background-color: #79183a; */
}
.intro {
  font-size: 3rem;
  font-weight: bolder;
}
.introduce {
  margin-top: 170px;
}
@media screen and (max-width: 767px) {
  .intro {
    font-size: 2rem;
  }
  .introduce {
    margin-top: 60px;
  }
}
